.container {
  position: relative;
  width: 100%;
}
.container h1{
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-top: -13px;
    text-align: center;
    color: rgb(14, 37, 85);
}
.container img{
    z-index: 1;
    width: 100%;
}