table{
  background-color: #AAE4FF;
  margin: 20px auto;
  padding: 10px 10px;
  border-radius: 10px;
  border: 5px dotted #B8C3FF;
  color: rgb(14, 37, 85);
}

thead tr th{
  border-bottom: 5px dotted #B8C3FF;
  font-weight: bold;
  padding: 0 0 5px 0;
}

tbody .name, thead .name{
  text-align: left;
  border-right: 5px dotted #B8C3FF;
}

tbody tr th{
  font-weight: normal;
  padding: 5px 10px 0 0;
}

th{
  padding: 10px;
}

