table{
  background-color: #AAE4FF;
  margin: 20px auto;
  padding: 10px 10px;
  border-radius: 10px;
  border: 5px dotted #B8C3FF;
  color: rgb(14, 37, 85);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

thead tr th{
  border-bottom: 5px dotted #B8C3FF;
  font-weight: bold;
  padding: 0 0 5px 0;
}

tbody .name, thead .name{
  text-align: left;
  border-right: 5px dotted #B8C3FF;
}

tbody tr th{
  font-weight: normal;
  padding: 5px 20px 10px 0;
}

th{
  padding: 10px;
}

.details{
  color: rgb(14, 37, 85);
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
  border: 2px solid #B8C3FF;
  box-shadow: 2px 2px 2px rgba(89, 105, 139, 0.5);
}

.details:hover{
  background-color: #B8C3FF;
  border: 2px solid rgb(14, 37, 85);
  font-weight: bold;
}